<div class="tree-container">
  <ng-container *ngIf="loading$ | async">Загрузка...</ng-container>
  <ng-container *ngIf="treeNodes$ | async as treeNodes">
    <app-tree *ngIf="treeNodes.length; else treeEmptyTmpl" [setTreeNodes]="treeNodes"></app-tree>
  </ng-container>
</div>

<ng-template #treeEmptyTmpl>Дерево не содержит узлов</ng-template>
