<ul class="tree">
  <li *ngFor="let node of treeNodes" class="tree__node node">
    <div class="node__container">
      <div
        class="node__icon icon"
        (click)="expandNode(node)"
        [ngClass]="{
          icon_file: isFileTreeNode(node),
          icon_folder: isFolderTreeNode(node),
          'icon_folder--opened': node.isExpand && isFolderTreeNode(node),
          'icon_folder--closed': !node.isExpand && isFolderTreeNode(node)
        }"
      ></div>
      <span class="node__text">{{ node?.name }}</span>
      <span *ngIf="isFolderTreeNode(node)" class="node__description"
        >({{ node.children.length | wordDeclension: ['файл', 'файла', 'файлов'] }})</span
      >
      <div
        class="node__icon icon icon_arrow"
        (click)="node.children = sortTreeNodes(node.children)"
        [ngClass]="{
          icon_arrow: node.isExpand && isFolderTreeNode(node)
        }"
      ></div>
    </div>

    <ng-container *ngIf="node.isExpand && isFolderTreeNode(node)">
      <app-tree [setTreeNodes]="node.children"></app-tree>
    </ng-container>
  </li>
</ul>
