li {
  list-style-type: none;
}

.node {
  &__container {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__description {
    color: gray;
  }
}

.icon {
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  &_folder {
    cursor: pointer;

    &--opened {
      background-image: url(../../../../assets/icons/icon-folder-opened-24.png);
    }

    &--closed {
      background-image: url(../../../../assets/icons/icon-folder-closed-24.png);
    }
  }

  &_file {
    cursor: default;
    background-image: url(../../../../assets/icons/icon-file-24.png);
  }

  &_arrow {
    cursor: pointer;
    margin-left: 10px;
    height: 18px;
    width: 18px;
    background-image: url(../../../../assets/icons/icon-sort-24.png);
  }
}
